{% extends 'base.html.twig' %}

{% block title %}Accueil - Portfolio
{% endblock %}

{# {% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %} #}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<div class="card mb-3">
			<div class="card-header text-center">
				<h5 class="dark:text-transparent inline-flex gap-3 py-1 px-2">YoanSAN - Portfolio 2.0</h5>
			</div>
			<div class="card-body">
				<h3 class="text-center">Développeur Backend Symfony orienté Infrastructure</h3>
				<p class="text-center">Étudiant en BTS SIO (option SISR), je me spécialise dans l’administration des systèmes,
					les infrastructures réseau et le développement web. Je conçois des solutions fiables,
					sécurisées et adaptées aux besoins métiers.</p>
			</div>
		</div>
	{% endblock %}
