{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="vue-page"
         data-component="Login"
         data-props="{{ {
             'lastUsername': last_username,
             'error': error ? error.messageKey|trans(error.messageData, 'security') : null,
             'csrfToken': csrf_token('authenticate')
         }|json_encode }}">
    </div>
{% endblock %}
