APP_ENV=dev
APP_SECRET=your_dev_secret_key_change_in_production
DATABASE_URL="mysql://root:root@127.0.0.1:3306/portfolio_db?serverVersion=12.2.2-MariaDB&charset=utf8mb4"
MAILER_DSN=smtp://localhost:1025
DEFAULT_URI=https://ton-domaine.com