{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div id="vue-page"
         data-component="Profil"
         data-props="{{ {'user': {
             'username': user.username,
             'email': user.email
         }}|json_encode }}">
    </div>
{% endblock %}
