{% extends 'admin/admin.html.twig' %}

{% block title %}{{ project.id ? 'Modifier' : 'Nouveau' }} projet - Administration{% endblock %}

{% block body %}
    <div id="vue-page"
         data-component="AdminProjectEdit"
         data-props="{{ {
             'project': {
                 'id': project.id,
                 'title': project.title,
                 'slug': project.slug,
                 'description': project.description,
                 'results': project.results,
                 'learnings': project.learnings,
                 'githubUrl': project.githubUrl,
                 'demoUrl': project.demoUrl,
                 'thumbnailUrl': project.image ? '/images/projects/' ~ project.image : null
             },
             'images': project.images|map(img => {'id': img.id, 'url': '/images/projects/' ~ img.image}),
             'csrfToken': form._token.vars.value,
             'actionUrl': project.id ? url('admin.project.edit', {id: project.id}) : url('admin.project.new')
         }|json_encode }}">
    </div>
{% endblock %}
