{% extends 'admin/admin.html.twig' %}

{% block title %}Projets - Administration{% endblock %}

{% block body %}
    {% set projects_data = [] %}
    {% for project in projects %}
        {% set projects_data = projects_data|merge([{
            'id': project.id,
            'title': project.title,
            'description': project.description,
            'githubUrl': project.githubUrl,
            'demoUrl': project.demoUrl
        }]) %}
    {% endfor %}
    <div id="vue-page"
         data-component="AdminProjectList"
         data-props="{{ {'projects': projects_data, 'csrfToken': csrf_token('delete')}|json_encode }}">
    </div>
{% endblock %}
