{% extends 'admin/admin.html.twig' %}

{% block title %}{{ project.title }} - Administration{% endblock %}

{% block body %}
    <div id="vue-page"
         data-component="AdminProjectShow"
         data-props="{{ {'project': {
             'id': project.id,
             'title': project.title,
             'description': project.description,
             'results': project.results,
             'learnings': project.learnings,
             'githubUrl': project.githubUrl,
             'thumbnailUrl': project.image ? '/images/projects/' ~ project.image : null,
             'images': project.images|map(img => {'id': img.id, 'url': '/images/projects/' ~ img.image}),
             'demoUrl': project.demoUrl
         }}|json_encode }}">
    </div>
{% endblock %}
