{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div id="vue-page"
         data-component="Contact"
         data-props="{{ {'csrfToken': form._token.vars.value}|json_encode }}">
    </div>
{% endblock %}
