{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    {% set projects_data = [] %}
    {% for project in projects %}
        {% set projects_data = projects_data|merge([{
            'id': project.id,
            'title': project.title,
            'description': project.description,
            'results': project.results,
            'learnings': project.learnings,
            'githubUrl': project.githubUrl,
            'demoUrl': project.demoUrl,
            'thumbnailUrl': project.image ? '/images/projects/' ~ project.image : null
        }]) %}
    {% endfor %}
    <div id="vue-page"
         data-component="ProjectList"
         data-props="{{ {'projects': projects_data}|json_encode }}">
    </div>
{% endblock %}
